@font-face {
  font-family: 'DINNextW1G';
  src: url('../fonts/DINNextW1G.eot');
  src: url('../fonts/DINNextW1G.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G.woff') format('woff'),
    url('../fonts/DINNextW1G.ttf') format('truetype'),
    url('../fonts/DINNextW1G.svg#DINNextW1G') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-Black';
  src: url('../fonts/DINNextW1G-Black.eot');
  src: url('../fonts/DINNextW1G-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-Black.woff') format('woff'),
    url('../fonts/DINNextW1G-Black.ttf') format('truetype'),
    url('../fonts/DINNextW1G-Black.svg#DINNextW1G-Black') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-BlackItalic';
  src: url('../fonts/DINNextW1G-BlackItalic.eot');
  src: url('../fonts/DINNextW1G-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-BlackItalic.woff') format('woff'),
    url('../fonts/DINNextW1G-BlackItalic.ttf') format('truetype'),
    url('../fonts/DINNextW1G-BlackItalic.svg#DINNextW1G-BlackItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-Bold';
  src: url('../fonts/DINNextW1G-Bold.eot');
  src: url('../fonts/DINNextW1G-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-Bold.woff') format('woff'),
    url('../fonts/DINNextW1G-Bold.ttf') format('truetype'),
    url('../fonts/DINNextW1G-Bold.svg#DINNextW1G-Bold') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-BoldItalic';
  src: url('../fonts/DINNextW1G-BoldItalic.eot');
  src: url('../fonts/DINNextW1G-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-BoldItalic.woff') format('woff'),
    url('../fonts/DINNextW1G-BoldItalic.ttf') format('truetype'),
    url('../fonts/DINNextW1G-BoldItalic.svg#DINNextW1G-BoldItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-Heavy';
  src: url('../fonts/DINNextW1G-Heavy.eot');
  src: url('../fonts/DINNextW1G-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-Heavy.woff') format('woff'),
    url('../fonts/DINNextW1G-Heavy.ttf') format('truetype'),
    url('../fonts/DINNextW1G-Heavy.svg#DINNextW1G-Heavy') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-HeavyItalic';
  src: url('../fonts/DINNextW1G-HeavyItalic.eot');
  src: url('../fonts/DINNextW1G-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-HeavyItalic.woff') format('woff'),
    url('../fonts/DINNextW1G-HeavyItalic.ttf') format('truetype'),
    url('../fonts/DINNextW1G-HeavyItalic.svg#DINNextW1G-HeavyItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-Italic';
  src: url('../fonts/DINNextW1G-Italic.eot');
  src: url('../fonts/DINNextW1G-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-Italic.woff') format('woff'),
    url('../fonts/DINNextW1G-Italic.ttf') format('truetype'),
    url('../fonts/DINNextW1G-Italic.svg#DINNextW1G-Italic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-Light';
  src: url('../fonts/DINNextW1G-Light.eot');
  src: url('../fonts/DINNextW1G-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-Light.woff') format('woff'),
    url('../fonts/DINNextW1G-Light.ttf') format('truetype'),
    url('../fonts/DINNextW1G-Light.svg#DINNextW1G-Light') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-LightItalic';
  src: url('../fonts/DINNextW1G-LightItalic.eot');
  src: url('../fonts/DINNextW1G-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-LightItalic.woff') format('woff'),
    url('../fonts/DINNextW1G-LightItalic.ttf') format('truetype'),
    url('../fonts/DINNextW1G-LightItalic.svg#DINNextW1G-LightItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-Medium';
  src: url('../fonts/DINNextW1G-Medium.eot');
  src: url('../fonts/DINNextW1G-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-Medium.woff') format('woff'),
    url('../fonts/DINNextW1G-Medium.ttf') format('truetype'),
    url('../fonts/DINNextW1G-Medium.svg#DINNextW1G-Medium') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-MediumItalic';
  src: url('../fonts/DINNextW1G-MediumItalic.eot');
  src: url('../fonts/DINNextW1G-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-MediumItalic.woff') format('woff'),
    url('../fonts/DINNextW1G-MediumItalic.ttf') format('truetype'),
    url('../fonts/DINNextW1G-MediumItalic.svg#DINNextW1G-MediumItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-UltraLight';
  src: url('../fonts/DINNextW1G-UltraLight.eot');
  src: url('../fonts/DINNextW1G-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-UltraLight.woff') format('woff'),
    url('../fonts/DINNextW1G-UltraLight.ttf') format('truetype'),
    url('../fonts/DINNextW1G-UltraLight.svg#DINNextW1G-UltraLight') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DINNextW1G-UltraLightItalic';
  src: url('../fonts/DINNextW1G-UltraLightItalic.eot');
  src: url('../fonts/DINNextW1G-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextW1G-UltraLightItalic.woff') format('woff'),
    url('../fonts/DINNextW1G-UltraLightItalic.ttf') format('truetype'),
    url('../fonts/DINNextW1G-UltraLightItalic.svg#DINNextW1G-UltraLightItalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

