.gl-first-screen {
	height: calc(100vh - 44px);
	margin-top: 44px;
	background-color: #201;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	* {
		z-index: 60;
	}
	video, .video-overlay {
		position: absolute;
		min-width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		html.mobile &, html.tablet & {
			display: none;
		}
	}
	video {
		opacity: 0;
	}
	.video-overlay {
		height: calc(100vh - 44px);
		z-index: 55;
		background-color: rgba(49, 49, 49, 0.85);
	}
	h1 {
		margin-bottom: 35px;
	}
	p {
		font-size: 50px;
		color: $glCWhite;
	}
	.scroll-down {
		position: absolute;
		bottom: 0;
		html.mobile &, html.tablet & {
			display: none;
		}
		.scroll-down-inner {
			background-color: $glCWhite;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
			width: 256px;
			border-radius: 10px 10px 0 0;
			font-family: $glFMedium;
			font-size: 11px;
			cursor: pointer;
			img {
				margin-right: 20px;
			}
		}
	}
}

.gl-racks {
	padding-bottom: 60px;
}

.gl-racks-info {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: $glCLightLightGrey;
	@include respond-custom(320px, 400px) {
		padding-top: 30px;
		padding-bottom: 45px;
	}
	.rack-type {
		padding: 25px;
		position: relative;
		border: $glXBorderGreen;
		overflow: hidden;
		margin-bottom: 30px;
		display: block;
		color: $glCBlack;
		height: 240px;
		@include respond-to(xs) {
			height: auto;
		}
		.type-bg {
			margin: -25px;
			position: absolute;
			video {
				display: none;
			}
			html.desktop & video {
				display: block;
				opacity: 0;
				position: absolute;
				top: 0;
			}
		}
		.type-bg-cover {
			width: 100%;
			height: 100%;
			margin: -25px;
			background-color: rgba(248, 248, 248, 1);
			position: absolute;
			transition: all 0.3s;
		}
		.type-number {
			position: absolute;
			top: 5px;
			left: 32px;
			font-family: $glFHeavy;
			font-size: 90px;
			color: $glCBackgroundTextGrey;
			transition: all 0.3s;
		}
		.type-title {
			margin-top: 20px;
			margin-bottom: 20px;
			position: relative;
			z-index: 45;
			transition: all 0.3s;
		}
		.type-info {
			position: relative;
			z-index: 45;
			transition: all 0.3s;
		}
		&:hover .type-bg-cover {
			background-color: rgba(0, 0, 0, 0.75);
		}
		&:hover .type-number {
			color: transparent;
		}
		&:hover .type-title {
			color: $glCWhite;
		}
		&:hover .type-info {
			color: $glCWhite;
		}
	}
}

.gl-racks-terms {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: $glCGrey;
	@include respond-custom(320px, 400px) {
		padding-top: 30px;
		padding-bottom: 45px;
	}
	.rack-term {
		border-top: 2px solid $glCBlack;
		html.desktop & {
			border-top: 2px solid transparent;
		}
		html.mobile & {
			max-height: 80px;
			overflow: hidden;
			transition: all 0.3s;
			&.unfolded {
				max-height: 170px;
			}
			@include respond-custom(320px, 520px) {
				max-height: 60px;
			}
		}
	}
	.rack-term-line {
		display: none;
		html.desktop & {
			display: block;
			height: 2px;
			width: 0%;
			background-color: $glCBlack;
		}
	}
	.rack-term-header {
		font-size: 40px;
		line-height: 1.1;
		font-family: $glFLight;
		margin: 20px 0;
		position: relative;
		html.desktop & {
			opacity: 0;
			bottom: -40px;
		}
		@include respond-to(sm) {
			font-size: 30px;
		}
		@include respond-to(xs) {
			font-size: 30px;
		}
		@include respond-custom(320px, 520px) {
			font-size: 18px;
		}
		span {
			display: block;
			@include respond-to(xs) {
				display: inline;
			}
		}
	}
	.rack-term-desc {
		width: 85%;
		position: relative;
		html.desktop & {
			bottom: -40px;
			opacity: 0;	
		}
		@include respond-to(xs) {
			margin-bottom: 15px;
		}
	}
	.rack-term-folder {
		display: none;
		html.mobile & {
			display: inline-flex;
			position: absolute;
			align-items: center;
			justify-content: center;
			transition: all 0.3s;
			width: 55px;
			height: 55px;
			right: 20px;
			top: 12px;
			font-size: 40px;
			font-family: $glFRegular;
			transform: rotate(0deg);
			&.unfolded {
				transform: rotate(45deg);
			}
			span {
				display: block;
				margin-top: -3px;
			}
			@include respond-custom(320px, 520px) {
				top: 2px;
			}
		}
	}
}

.gl-racks-feats {
	padding-top: 40%;
	padding-bottom: 90px;
	background-color: $glCBlack;
	color: $glCWhite;
	position: relative;
	overflow: hidden;
	@include respond-custom(320px, 400px) {
		padding-bottom: 45px;
	}
	@include respond-custom(320px, 520px) {
		font-size: 14px;
	}
	@include respond-custom(320px, 400px) {
		font-size: 12px;
	}
	svg {
		position: absolute;
		top: -140px;
		width: 100%;
		@include respond-custom(320px, $md) {
			top: -30px;
		}
		@include respond-custom(501px, 660px) {
			top: -60px;
		}
	}
	& > img {
		position: absolute;
		top: 109px;
		left: 25%;
		width: 50%;
	}
	.gl-section-header {
		text-align: center;
	}
	.gl-section-title {
		color: $glCWhite;
	}
	.racks-feat {
		padding-top: 20px;
		.ml-auto, .mr-auto {
			border-bottom: 1px solid transparentize($glCWhite, 0.75);
			padding-bottom: 20px;
		}
		.feat-title {
			position: relative;
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
		.feat-title-icon {
			display: inline-block;
			width: 30px;
			height: 30px;
			position: absolute;
			left: 0;
			@include respond-to(md) {
				width: 25px;
				height: 25px;
			}
			@include respond-custom(320px, 525px) {
				width: 20px;
				height: 20px;
			}
		}
		.feat-title-title {
			text-align: center;
			@include respond-to(xs) {
				margin-right: -50px;
			}
		}
		.feat-desc {
			margin: 0;
		}
	}
	.rack-size {
		position: relative;
		padding: 20px 0;
		margin-top: 25px;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		span {
			display: block;
			position: relative;
			width: 130px;
			html.desktop & {
				bottom: -30px;
				opacity: 0;
			}
			@include respond-custom(320px, 520px) {
				width: 75px;
			}
		}
		span.size {
			font-size: 44px;
			@include respond-custom(320px, 520px) {
				font-size: 28px;
			}
		}
		span.measure {
			font-size: 22px;
			@include respond-custom(320px, 520px) {
				font-size: 12px;
			}
		}
		&.rs-small {
			outline: 3px solid $glCWhite;
		}
		&.rs-big {
			outline: 3px solid $glCGreen;
		}
		html.desktop &.rs-big, html.desktop &.rs-small {
			outline: 3px solid transparent;
		}
		.size-border {
			html.desktop & {
				position: absolute;
				&.top-border {
					left: 0;
					top: 0;
					width: 0%;
					height: 3px;
				}
				&.right-border {
					right: 0;
					top: 0;
					height: 0%;
					width: 3px;
				}
				&.bottom-border {
					left: 0;
					bottom: 0;
					width: 0%;
					height: 3px;
				}
				&.left-border {
					left: 0;
					top: 0;
					height: 0%;
					width: 3px;
				}
			}
		}
		&.rs-small .size-border {
			background-color: $glCWhite;
		}
		&.rs-big .size-border {
			background-color: $glCGreen;
		}
	}
}

.gl-partners {
	padding-top: 80px;
	padding-bottom: 90px;
	@include respond-custom(320px, 400px) {
		padding-top: 30px;
		padding-bottom: 45px;
	}
	.col-lg-3.partner {
		height: 270px;
		padding: 95px 20px 55px;
		transition: all 0.3s;
		border: 1px solid $glCLightGrey;
		border-right: none;
		html.mobile & {
			padding: 65px 20px 55px;
		}
		.partner-logo, .delimiter, .partner-desc {
			display: block;
			width: 100%;
		}
		.partner-logo {
			height: 70px;
			width: auto;
			filter: grayscale(1);
			transition: all 0.3s;
			margin: 0 auto;
			html.mobile & {
				height: 55px;
				filter: none;
			}
		}
		.delimiter {
			height: 0;
			background-color: $glCBlack;
			width: 70%;
			margin: 0 15%;
			display: block;
			transition: all 0.3s;
			html.mobile & {
				height: 1px;
				margin: 20px 15% 15px;
			}
		}
		.partner-desc {
			text-align: center;
			margin-bottom: 0;
			display: block;
			max-height: 0;
			overflow: hidden;
			transition: all 0.3s;
			font-size: 15px;
			html.mobile & {
				max-height: 80px;
				font-size: 14px;
			}
		}
		&:hover {
			background-color: $glCLightGrey;
			padding-top: 65px;
			.partner-logo {
				filter: grayscale(0);
			}
			.delimiter {
				margin: 20px 15% 15px;
				height: 1px;
			}
			.partner-desc {
				max-height: 80px;
			}
		}
		&:last-child {
			border-right: 1px solid $glCLightGrey;
		}
	}
}

.gl-gallery {
	background-color: $glCLightGrey;
	padding-top: 80px;
	padding-bottom: 90px;
	@include respond-custom(320px, 400px) {
		padding-top: 30px;
		padding-bottom: 45px;
	}
}

.gl-map {
	padding-top: 40px;
	@include respond-custom(320px, 400px) {
		padding-top: 30px;
	}
}

.gl-section-button.index {
	@include respond-custom(320px, 400px) {
		display: none;
	}
}