// Base
@import './base/fonts';
@import './base/variables';
@import './base/mixins';

// Block
@import './blocks/navbar';
@import './blocks/slider';
@import './blocks/map';
@import './blocks/footer';
@import './blocks/fancybox';
@import './blocks/content';

// Pages
@import './pages/index';
@import './pages/catalogue';
@import './pages/article';
@import './pages/terms';
@import './pages/contacts';
@import './pages/press';

body {
	line-height: 1.35;
	font-family: $glFRegular;
	font-size: 16px;
	@include respond-custom(320px, 400px) {
		font-size: 14px;
	}
	overflow-x: hidden;
}

h1 {
	font-family: $glFBold;
	font-size: 50px;
	color: $glCWhite;
}

.gl-section-header {
	margin-bottom: 35px;
}

p.gl-section-primary, 
h1.gl-section-primary, 
h2.gl-section-primary {
	font-family: $glFRegular;
	font-size: 50px;
	line-height: 1;
	@include respond-to(md) {
		font-size: 40px;
	}
	@include respond-to(sm) {
		font-size: 30px;
	}
	@include respond-to(xs) {
		font-size: 25px;
	}
}

p.gl-section-secondary {
	font-family: $glFLight;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 15px;
	@include respond-to(md) {
		font-size: 40px;
	}
	@include respond-to(sm) {
		font-size: 30px;
	}
	@include respond-to(xs) {
		font-size: 25px;
	}
}

.gl-section-title {
	margin-top: 15px;
	text-transform: uppercase;
	font-family: $glFBold;
	font-size: 12px;
	color: $glCGreen;
	margin-bottom: 25px;
	letter-spacing: 2px;
	@include respond-to(xs) {
		margin-bottom: 40px;
	}
}

.gl-content-title {
	font-size: 20px;
	font-family: $glFMedium;
}

.gl-section-button {
	float: right;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: 0 40px;
	height: 45px;
	border: $glXBorderGreen;
	text-transform: uppercase;
	font-family: $glFBold;
	font-size: 12px;
	color: $glCGreen;
	box-sizing: border-box;
	transition: all 0.3s;
	letter-spacing: 2px;
	cursor: pointer;
	&:hover {
		background-color: $glCGreen;
		color: $glCWhite;
	}
	@include respond-custom(401px, 520px) {
		width: 170px;
		font-size: 11px;
	}
	@include respond-custom(320px, 400px) {
		display: none;
	}
}

.gl-f-c-green {
	color: $glCGreen;
}

.gl-f-c-grey {
	color: $glCTextGrey;
}

.gl-f-reg {
	font-family: $glFRegular;
}

.gl-f-black {
	font-family: $glFBlack;
}

.gl-f-black-italic {
	font-family: $glFBlackItalic;
}

.gl-f-bold {
	font-family: $glFBold;
}

.gl-f-bold-italic {
	font-family: $glFBoldItalic;
}

.gl-f-heavy {
	font-family: $glFHeavy;
}

.gl-f-heavy-italic {
	font-family: $glFHeavyItalic;
}

.gl-f-italic {
	font-family: $glFItalic;
}

.gl-f-light {
	font-family: $glFLight;
}

.gl-f-light-italic {
	font-family: $glFLightItalic;
}

.gl-f-medium {
	font-family: $glFMedium;
}

.gl-f-medium-italic {
	font-family: $glFMediumItalic;
}

.gl-f-ultralight {
	font-family: $glFUltraLight;
}

.gl-f-ultralight-italic {
	font-family: $glFUltraLightItalic;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

.item-controls {
	display: flex;
	button, div {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 30px;
		width: 30px;
		background-color: transparent;
		border: 2px solid $glCAuxGrey;
		border-radius: 3px;
		outline: none;
		margin: 0;
		padding: 0;
		font-size: 16px;
		@include respond-custom(320px, 520px) {
			height: 20px;
			width: 20px;
			font-size: 11px;
		}
		span {
			font-family: $glFMedium;
		}
		img {
			display: inline-block;
			width: 11px;
			height: 11px;
			@include respond-custom(320px, 520px) {
				width: 8px;
				height: 8px;
			}
		}
	}
	button {
		cursor: pointer;
		&:hover {
			background-color: $glCAuxGrey;
		}
	}
	.controls-minus {
		border-right: none;
		border-radius: 3px 0 0 3px;
	}
	.item-quantity {
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
	.controls-plus {
		border-left: none;
		border-radius: 0 3px 3px 0;
	}
	.item-delete {
		margin-left: 20px;
		@include respond-custom(320px, 520px) {
			margin-left: 0;
		}
		img {
			transform: rotate(45deg);
		}
	}
}

.price-value {
	font-family: $glFLight;
	font-size: 30px;
	margin-bottom: 5px;
	@include respond-custom(320px, 500px) {
		font-size: 20px;
	}
}