.gl-page-content {
	h1, h2, h3, h4 {
		font-family: $glFMedium;
		margin-bottom: 25px;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	p {
		margin-bottom: 32px;
	}
	ul, ol {
		padding-left: 40px;
		li {
			display: flex;
			align-items: center;
			list-style-type: none;
			margin: 20px 0;
			position: relative;
			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				left: -40px;
				width: 20px;
				height: 20px;
				background-image: url('../img/content-list-style-image.png');
			}
		}
	}
	ol li:before {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 22px;
		height: 22px;
		padding-top: 1px;
		color: $glCGreen;
		background-image: none;
		border: $glXBorderGreen;
		border-radius: 50%;
		font-family: $glFBold;
		font-size: 12px;
		html.windows & {
			padding-top: 0;
		}
	}
	ol li:first-child:before {
		content: '1';
	}
	ol li:nth-child(2):before {
		content: '2';
	}
	ol li:nth-child(3):before {
		content: '3';
	}
	ol li:nth-child(4):before {
		content: '4';
	}
	ol li:nth-child(5):before {
		content: '5';
	}
	ol li:nth-child(6):before {
		content: '6';
	}
	ol li:nth-child(7):before {
		content: '7';
	}
	ol li:nth-child(8):before {
		content: '8';
	}
	ol li:nth-child(9):before {
		content: '9';
	}
	ol li:nth-child(10):before {
		content: '10';
	}
	ol li:nth-child(11):before {
		content: '11';
	}
	ol li:nth-child(12):before {
		content: '12';
	}
	.content-delimiter {
		height: 1px;
		width: 100%;
		background-color: $glCDelimitersGrey;
		margin: 35px 0;
	}
}