.fancybox-container {
	.fancybox-close-small {
		outline: none;
		&:after {
			outline: none;
			background-color: $glCGrey;
		}
	}
	video {
		max-width: 80vw;
		max-height: 80vh;
	}
	.fancybox-slide>* {
		@include respond-custom(320px, 500px) {
			padding: 0;
			margin: 15px 0;
		}
	}
}