.gl-footer {

	background-color: $glCCoal;
	padding-top: 50px;
	padding-bottom: 50px;
	color: $glCWhite;
	font-size: 15px;

	@include respond-to(xs) {
		font-size: 13px;
	}

	@include respond-custom(320px, 400px) {
		font-size: 11px;
	}

	h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.all-rights-reserved {
		margin-bottom: 10px;
	}

	.gl-copyright {
		color: $glCTextGrey;
		font-size: 16px;
	}

	.gl-section-button {
		margin-top: 10px;
		border: 2px solid $glCWhite;
		color: $glCWhite;
		float: none;
		&:hover {
			background-color: $glCWhite;
			color: $glCCoal !important;
		}
		@include respond-to(sm) {
			margin-top: -85px;
			float: right;
		}
		@include respond-to(xs) {
			margin-top: -85px;
			float: right;
		}
		@include respond-custom(320px, 520px) {
			display: none;
		}
	}

	.gl-sitemap {
		html.mobile & {
			display: none;
		}
	}

	.footer-menu-title {
		font-family: $glFBold;
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 15px;
		margin-top: 5px;
		cursor: default;
		@include respond-to(sm) {
			margin-top: 30px;
		}
		@include respond-to(xs) {
			margin-top: 30px;
		}
	}

	.footer-menu, .footer-menu ul {
		list-style-type: none;
		padding-left: 0;
		li {
			margin: 8px 0;
		}
	}

	.footer-submenu-title {
		color: $glCTextGrey;
	}

	.footer-submenu {
		margin: 0 0 15px;
	}

}

.gl-feedback {
	position: fixed;
	top: 0;
	left: 0;
	height: calc(100vh - 44px);
	margin-top: 44px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	.feedback-form, .feedback-thank-you {
		height: 400px;
		width: 540px;
		padding: 40px;
		background-color: $glCWhite;
		border: 4px solid $glCGreen;
	}
	.feedback-form {
		input {		
	    display: block;
	    width: 100%;
	    height: 55px;
	    border: none;
	    outline: none;
	    resize: none;
	    padding: 0 0 0 30px;
	    background-color: #ededed;
	    margin-bottom: 20px;
	    transition: all 0.15s;
		}
	}
	.feedback-thank-you {
		display: none;
	}
}