@keyframes markerFlicker {
	from { box-shadow: 0 0 0 3px transparentize($glCGreen, 0.65); }
	50% { box-shadow: 0 0 0 5px transparentize($glCGreen, 0.85); }
	to { box-shadow: 0 0 0 3px transparentize($glCGreen, 0.65); }
}

.gl-map {
	.gl-google-map {
		height: 500px;
		background-color: lighten($glCGreen, 40%);
		@include respond-to(sm) {
			height: 400px;
		}
	}
	.gl-map-marker {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		background-color: $glCWhite;
		border-radius: 50%;
		box-sizing: border-box;
		html.desktop &:hover {
			animation: markerFlicker 2s infinite;
		}
		&.numbered {
			color: $glCGreen;
			font-size: 16px;
			border: $glXBorderGreen;
		}
		&.unnumbered:after {
			display: inline-block;
			content: "";
			width: 6px;
			height: 6px;
			background-color: $glCGreen;
			border-radius: 50%;
		}
	}
}