.gl-slider {
	position: relative;
	.slide {
		outline: none;
		box-sizing: border-box;
	}
	.slick-arrow {
		width: 40px;
		height: 60px;
		cursor: pointer;
		position: absolute;
		&.next {
			right: -30px;
			@include respond-to(xs) {
				right: -22px;
			}
			&:after {
				content: '';
				display: inline-block;
				margin: 10px 0 0 7.5px;
				width: 25px;
				height: 45px;
				background-image: url('../img/arrow-right-slider.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
		&.prev {
			left: -30px;
			@include respond-to(xs) {
				left: -22px;
			}
			&:after {
				content: '';
				display: inline-block;
				margin: 10px 0 0 7.5px;
				width: 25px;
				height: 45px;
				background-image: url('../img/arrow-left-slider.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}
}

.racks-slider {
	width: 100%;
	margin-top: 60px;
	@include respond-to(xs) {
		width: 90%;
		margin: 60px auto 0;
	}
	.racks-slide {
		text-align: center;
		img {
			height: 120px;
			margin: 0 auto;
			@include respond-to(md) {
				height: 85px;
			}
			@include respond-to(sm) {
				height: 85px;
			}
			@include respond-to(xs) {
				height: 85px;
			}
		}
		.racks-slide-inner {
			padding: 0 40px;
		}
		.rack-name {
			margin-top: 30px;
			margin-bottom: 10px;
			font-family: $glFLight;
			font-size: 35px;
			@include respond-to(md) {
				font-size: 30px;
			}
			@include respond-to(sm) {
				font-size: 25px;
			}
			@include respond-to(xs) {
				font-size: 20px;
			}
		}
		.rack-price {
			font-family: $glFBold;
			font-size: 12px;
			color: $glCGreen;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	.slick-arrow {
		top: 80px;
	}
}

.gallery-slider {
	margin: 0 -0.65%;
	.gallery-slide {
		img {
			display: block;
			box-sizing: border-box;
			margin: 0 auto;
			height: 250px;
			border: 1px solid $glCGreen;
			@include respond-custom(621px, 1200px) {
				height: 205px;
			}
			@include respond-custom(401px, 620px) {
				height: 230px;
			}
			@include respond-custom(320px, 400px) {
				height: 170px;
			}
		}
	}
	.slick-arrow {
		top: 85px;
		&.next {
			right: -45px;
			@include respond-to(xs) {
				right: -10px;
				html.ipad & {
					right: -30px;
				}
			}
		}
		&.prev {
			left: -45px;
			@include respond-to(xs) {
				left: -10px;
				html.ipad & {
					left: -30px;
				}
			}
		}
		@include respond-to(xs) {
			top: 85px;
			html.ipad & {
				top: 90px;
			}
		}
		@include respond-custom(320px, 400px) {
			top: 50px;
		}
	}
}